@model Government_Helping_System.Models.ViewsModel.LoginViews
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Login Page";
}



<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }


        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>
<body>

    <h2>Login Form</h2>

    @using (Html.BeginForm("Validate", "Home"))
    {
<div class="container">

    @if (ViewBag.state == "false")
    {
        <script>
            window.alert("Invalid UserId Or Password")
        </script>
        <label style="color:red">*Invalid UserId Or Password</label>
        <br />
    }
    <label for="uid"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uid" required>
    <label for="pswd"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pswd" required>
    <button type="submit" class="btn btn-primary">Login</button>
    <button class="btn btn-primary"><a href="~/Citizen/Create" style="color : white;text-decoration: none">Register as Citizen</a></button>
    @if (@HttpContextAccessor.HttpContext.Session.GetString("newuid") != null)
    {
        <label>Your Userid Is </label> @HttpContextAccessor.HttpContext.Session.GetString("newuid")

    }
</div>
    }
</body>
</html>

